footer  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero {
    width: 100%;
    background-color: #074f57;
    background-image: url("../images/Logo.png");
    color: white;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    
}
.containera i, .containera a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: black;
    
}
.hero:hover, .containera i:hover, .containera a:hover {
    background-blend-mode:multiply;
    
}





