<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
    <%- include('partials/header'); %> 
    <main class="home__main">
        <section class="home__main__productos">
            <div class="home__main__prod__h2">
                <h2>PRODUCTOS</h2>
            </div>
            <h3>ALIMENTO BALANCEADO</h3>
                <article>
                    <div class="imagen">
                        <a href="products">
                            <img src="/images/perro-cocinero.jfif" alt="">
                        </a>
                    </div>
                    <div class="imagen">
                        <a href="products">
                            <img src="/images/gato-cocinero.jpg" alt="">
                        </a>   
                    </div>   
                </article>
                                
            <!-- <h3>HIGIENE & ACCESORIOS</h3>
                <article>
                    <div class="imagen">
                        <a href="">
                            <img src="/images/perro-baño.jfif" alt="">
                        </a>
                    </div>
                    <div class="imagen">
                        <a href="">
                            <img src="/images/gato-casita.jpg" alt="">
                        </a>
                    </div>
                </article>
        </section>                            -->
        
        <section class="home__main__servicios">
            <div class="home__main__serv__h2">
                <h2>SERVICIOS</h2>
            </div>  
            
                <div class="imagen">
                    <h3>CORTES DE PELO</h3>
                    <a href="">
                        <img src="/images/perro-elvis.jpg" alt="">
                    </a>
                </div>               
                <div class="imagen">
                    <h3>BAÑOS</h3>
                    <a href="">
                        <img src="/images/perro-Husky.jfif" alt="">
                    </a>
                </div>                            
        </section>

        <section class="home__main__nosotros">
            <div class="home__main__nos__h2">
                <h2>NOSOTROS</h2>
            </div>
                <article>
                    <h4>¿Quienes somos?</h4>
                        <div>
                            <img src="/images/perro-campito.webp" alt="">
                        </div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, facere?</p>                
                        
                </article>
                <article>
                    <h4>Nuestro horizonte</h4>
                        <div>
                            <img src="/images/perro-playa.jfif" alt="">
                        </div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, facere?</p>
                </article>
                <article>
                    <h4>Adopciones</h4>
                        <div>
                            <img src="/images/perro-gato.webp" alt="">
                        </div>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga, facere?</p>
                </article>
        </section>
    </main>
    <%- include('partials/footer'); %> 
    
</body>    
</html>