<!DOCTYPE html>
<html lang="en" class="body_productos">

<%- include('partials/head', {title: 'Home'}); %>

<body class="body_productos">

    <%- include('partials/header'); %> 
      
<main>
    
    <section class="productos"> 
        
    </section>
    </section>
                <h1>productos</h1>

            <h5>inicio>Productos</h5>
                <div>
                    <p>mas relevante</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                
        <nav class="productos">

            <div>

                <!-- 
                    <article class="index__products__product">
                        <a href="/products/" alt=""></a>
                        <h4>
                            
                        </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus
                            ipsa
                            praesentium?</p>
                        <a href="#" class="index__products__product__more">VER MÁS</a>
                    </article>
                     -->
                    <!-- <article>
                        <a href="/products/1"></a>
                        <h4>
                           
                        </h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, saepe! Unde harum doloribus
                            ipsa
                            praesentium?</p>
                        <a href="#">VER MÁS</a>
                    </article>
                     -->
            </div>

            <article>
            
                <a href="products">
                    <img src="/images/productos_jpg/cat_pescado_1.jpg" alt="producto">
                    <p>producto-1</p>
                    <p>precio 000$</p>
                </a>
        
            </article>

            <article>
                <a href="products">
                    <img src="/images/productos_jpg/dog_chow_1.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="products">
                    <img src="/images/productos_jpg/cat_atun_2.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="products">
                    <img src="/images/productos_jpg/dog_chow_2.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="products">
                    <img src="/images/productos_jpg/pedigre_1.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="products">
                    <img src="/images/productos_jpg/raza_1.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>
    
        </nav>

    </section>

    <section>

        <article class="producto_pag_1">

           <i class="fa-solid fa-circle-arrow-left fa-2x"></i>

                <p>Pág 1</p>

            <i class="fa-solid fa-circle-arrow-right fa-2x"></i>    

        </article>

    </section>

</main>

<%- include('partials/footer'); %> 

</body>
</html>