<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head'); %>

<body class="carrito_body">
    <%- include('partials/header'); %> 
<main>

    <nav class="tabla_carrito"> 

        <h1 >carrito de compras</h1>
    
            <table>

                <tr>

                    <th>nombre</th>
                    <th>producto</th>
                    <th>detalles de producto</th>
                    <th>cantidad</th>
                    <th>precio unitario</th>
                    <th>precio total</th>

                </tr>

                <tr>
            
                    <td>nombre</td>
                    <td><img src="" alt="producto"></td>
                    <td>detalles de producto</td>
                    <td>cantidad</td>               
                    <td>precio unitario</td>
                    <td>precio total</td>

                </tr>
                <tr>

                    <td>nombre</td>
                    <td><img src="" alt="producto"></td>
                    <td>detalles de producto</td>               
                    <td>cantidad</td>
                    <td>precio unitario</td>               
                    <td>precio total</td>

            

                </tr>
                <tr>
            
                    <td>nombre</td>
                    <td><img src="" alt="producto"></td>
                    <td>detalles de producto</td>               
                    <td>cantidad</td>
                    <td>precio unitario</td>               
                    <td>precio total</td>

                </tr>
                <tr>
            
                    <td>nombre</td>
                    <td><img src="" alt="producto"></td>
                    <td>detalles de producto</td>               
                    <td>cantidad</td>
                    <td>precio unitario</td>               
                    <td>precio total</td>

                </tr>
                <tr>
            
                    <td>nombre</td>
                    <td><img src="" alt="producto"></td>
                    <td>detalles de producto</td>               
                    <td>cantidad</td>
                    <td>precio unitario</td>               
                    <td>precio total</td>

                </tr>
                <tr>
            
                    <td>nombre</td>
                    <td><img src="" alt="producto"></td>
                    <td>detalles de producto</td>               
                    <td>cantidad</td>
                    <td>precio unitario</td>               
                    <td>precio total</td>

                </tr>
        
            </table>

    </nav>

    <nav>

        <section class="productos_relacionados">
            <h2>productos relacionados</h2>
            <div>
                <i class="fa-solid fa-circle-arrow-left fa-2x"></i>
            </div>

            <article>
                <a href=""><p>producto</p>
                    <img src="" alt="producto">
                </a>
            </article>

            <article>
                <a href=""><p>producto</p>
                    <img src="" alt="producto">
                </a>
            </article>

            <article>
                <a href=""><p>producto</p>
                    <img src="" alt="producto">
                </a>
            </article>

            <div>
                <i class="fa-solid fa-circle-arrow-right fa-2x"></i>
            </div>
            
            <nav class="ver-mas"> 
                <p>si quieres ver mas precione aqui porfavor> <a href="">ver más</a></p>
            </nav>
        </section>
    </nav>
</main>
<%- include('partials/footer'); %>

</body>
</html>