<!DOCTYPE html>
<html lang="en" class="body_productos">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/e1309903af.js" crossorigin="anonymous"></script>
    <title>productos</title>
</head>
<body class="body_productos">

    <header class="home-header">        
        <nav class="home-nav-login">                
                <a class="home-header-logo" href="/"><img class="logo" src="/images/Logo.png" alt="Logo"></a>                

            <div class="home-div-header">
                <ul>
                    <li><a href="product"><h3>Productos</h3></a></li>
                    <li><a href="services"><h3>Servicios</h3></a></li>
                    <li><a href="services"><h3>Nosotros</h3></a></li>
                    <a href="login"><i class="fa-solid fa-user fa-2x"></i></a>                      
                </ul>                    
            </div>                               
            <!--
                <a href=""><h4>Alimento balanceado</h4></a>
             <ul>
                                <ul>
                
                                    <li><a href="">Perros</a></li>                            
                                    <li><a href="">Gatos</a></li>
                                </ul>                    
                        </ul>    
                        <ul>
                            <a href=""><h4>Higiene & accesorios</h4></a>     
                                <ul>
                                    <li><a href="">Perros</a></li>
                                    <li><a href="">Gatos</a></li>
                                </ul>     
                        </ul> -->                  
            
                        <!-- <ul>
                            <a href=""><h4>Cortes de pelo</h4></a>
                                <ul>
                                    <li><a href="">Perros</a></li>                            
                                    <li><a href="">Gatos</a></li>
                                </ul>                    
                        </ul>    
                        <ul>
                            <a href=""><h4>Baños</h4></a>     
                                <ul>
                                    <li><a href="">Perros</a></li>
                                    <li><a href="">Gatos</a></li>
                                </ul>     
                        </ul> -->                 
        </nav>

        <nav class="nav-hambur">
            <!-- <input type="checkbox" id="menu">
            <label for="menu"> ☰ </label>
-->
            <a href=""><i class="fa-solid fa-bars fa-2x"></i></a>
            <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
            <a href=""><i class="fa-solid fa-circle-question fa-2x"></i></a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>                 
        </nav>
</header>
        
<main>
    
    <section class="productos"> 
        
                <h1>productos</h1>

            <h5>inicio>Productos</h5>
                <div>
                    <p>mas relevante</p>
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                
        <nav class="productos">

            <article>
            
                <a href="productDetail">
                    <img src="/images/productos_jpg/cat_pescado_1.jpg" alt="producto">
                    <p>producto-1</p>
                    <p>precio 000$</p>
                </a>
        
            </article>

            <article>
                <a href="productDetail">
                    <img src="/images/productos_jpg/dog_chow_1.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="productDetail">
                    <img src="/images/productos_jpg/cat_atun_2.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="productDetail">
                    <img src="/images/productos_jpg/dog_chow_2.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="productDetail">
                    <img src="/images/productos_jpg/pedigre_1.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>

            <article>
                <a href="productDetail">
                    <img src="/images/productos_jpg/raza_1.jpg" alt="producto">
                    <p>nombre del producto</p>
                    <p>precio 000$</p>
                </a>
            </article>
    
        </nav>

    </section>

    <section>

        <article class="producto_pag_1">

           <i class="fa-solid fa-circle-arrow-left fa-2x"></i>

                <p>Pág 1</p>

            <i class="fa-solid fa-circle-arrow-right fa-2x"></i>    

        </article>

    </section>

</main>

<footer>
    <section>        
            <div class="div1">
                <h3 class="foot-titu">¡Contactanos!</h3>
                <a href=""><i class="fa-solid fa-phone fa-2x"></i></a>            
                <h4>0800-222-800</h4>
                <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
                <h4>tambienladramos@gmail.com</h4>
            </div>                          
            <div class="div2">                
                <h3 class="foot-titu">¡Seguinos!</h3>
                <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>            
                <h4>#TambiénLadramos</h4>       
            </div>
            <div class="div3">
                <h3 class="foot-titu">Hecho con <a class="corazon" href=""><i class="fa-solid fa-heart"></i></a> por la Comisión 14</h3>  
                <h4>Legales</h4>
                <h4>2022 - All rights Reserved</h4>
            </div>    
        </section>              
</footer>


</body>
</html>