<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4c01eff087.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/style.css">    
    <title>Registrarse</title>
</head>

<body class="home-body">
    <header class="home-header">        
        <nav class="home-nav-login">                
                <a class="home-header-logo" href="/"><img class="logo" src="/images/Logo.png" alt="Logo"></a>                

            <div class="home-div-header">
                <ul>
                    <li><a href="product"><h3>Productos</h3></a></li>
                    <li><a href="services"><h3>Servicios</h3></a></li>
                    <li><a href="services"><h3>Nosotros</h3></a></li>
                    <a href="login"><i class="fa-solid fa-user fa-2x"></i></a>                      
                </ul>                    
            </div>                               
        </nav>

        <nav class="nav-hambur">
            <a href=""><i class="fa-solid fa-bars fa-2x"></i></a>
            <a href=""><i class="fa-solid fa-magnifying-glass fa-2x"></i></a>
            <a href=""><i class="fa-solid fa-circle-question fa-2x"></i></a>
            <a href="/productCart"><i class="fa-solid fa-cart-shopping fa-2x"></i></a>                 
        </nav>
</header>

    <main class="register_form"> 
        <nav>
            <h2>Registrarse</h2>
            <form  action="" method="get">
                <ul>
                    <li>
                        <input type="text" id="register_user" name="user_name" placeholder="Nombre completo">
                        <input type="date" id="register_user" name="user_date">
                        <input type="email" id="register_user" name="user_mail" placeholder="E-mail">
                        <input type="password" id="register_user" name="user_contrasena" placeholder="Contraseña">
                        <input type="password" id="register_user" name="user_contrasena" placeholder="Confirmar contraseña">
                        <p><a href="#"> Términos y condiciones</a></p>
                        <input class="bottons" type="submit" value="Registrar">
                        <p><a href="login">¿Ya tengo cuenta?</p></a>
                    </li>
                </ul>
            </form>
        </nav>
    </main>  
    <footer>
        <section>        
                <div class="div1">
                    <h3 class="foot-titu">¡Contactanos!</h3>
                    <a href=""><i class="fa-solid fa-phone fa-2x"></i></a>            
                    <h4>0800-222-800</h4>
                    <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
                    <h4>tambienladramos@gmail.com</h4>
                </div>                          
                <div class="div2">                
                    <h3 class="foot-titu">¡Seguinos!</h3>
                    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>            
                    <h4>#TambiénLadramos</h4>       
                </div>
                <div class="div3">
                    <h3 class="foot-titu">Hecho con <a class="corazon" href=""><i class="fa-solid fa-heart"></i></a> por la Comisión 14</h3> 
                    <h4>Legales</h4>
                    <h4>2022 - All rights Reserved</h4>
                </div>    
            </section>              
    </footer>
</body>
</html>