<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    <img src="/images/images.jpg" alt="">
    <a href="/">Volver al Home</a>
    <footer>
        <section>        
                <div class="div1">
                    <h3 class="foot-titu">¡Contactanos!</h3>
                    <a href=""><i class="fa-solid fa-phone fa-2x"></i></a>            
                    <h4>0800-222-800</h4>
                    <a href=""><i class="fa-solid fa-envelope fa-2x"></i></a>
                    <h4>tambienladramos@gmail.com</h4>
                </div>                          
                <div class="div2">                
                    <h3 class="foot-titu">¡Seguinos!</h3>
                    <a href=""><i class="fa-brands fa-instagram fa-2x"></i></a>            
                    <h4>#TambiénLadramos</h4>       
                </div>
                <div class="div3">
                    <h3 class="foot-titu">Hecho con <a class="corazon" href=""><i class="fa-solid fa-heart"></i></a> por la Comisión 14</h3> 
                    <h4>Legales</h4>
                    <h4>2022 - All rights Reserved</h4>
                </div>    
            </section>              
    </footer>
</body>
</html>